
@font-face {
    font-family: nimbus-sans-l;
    src: url(nimbus-sans-l/NimbusSanL-Reg.otf);
    /* font-family: num;
    src: url(nimbus-sans-l/NimbusSanL-Bol.otf);
    font-family: num1;
    src: url(nimbus-sans-l/NimbusSanL-RegIta.otf); */

}

*{
    margin: 0;
    padding: 0;
    font-family: nimbus-sans-l;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

#nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}
#nleft{
    display: flex;
    gap: 30px;
}

#nav a{
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

#nav #centeratag{
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15vw;
    padding: 0vw 10vw;
}
#sustain{
    width: 10vw;
}

#sustain p{
    text-transform: capitalize;
    font-weight: 800;
    opacity: .5;
    font-size: 12px;
    margin: 10px 0;

}

#sustain #susimagewrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15vw;
}

#susimagewrapper img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ephemeral{
    position: relative;
    width: 30vw;
    min-height: 42vw;
    /* background-color: rgb(229, 221, 221); */
}

#ephemeral img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ephemeral p{
    margin-top: 30px;
    font-size: 1.3vw;
    letter-spacing: -.07vw;
    line-height: 1.3;
    width: 40%;
    
}

#ephemeral #headings{
    position: absolute;
    top: -22%;
    left: -20%;
}

#ephemeral h1{
    letter-spacing: -.4vw;
    line-height: 1;
    font-size: 6vw;
    font-weight: 400;
}

#visit{
    display: flex;
    gap: 10px;
    align-items: center;
}

#circlev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 2px solid #dadada;
}

#circlev i{
    color: #5e5e5e;
}

#visit h3{
    font-weight: 100;
    color: #5e5e5e;
}

#motive{
    margin-top: 7vw;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}

#motive p{
    line-height: 1.7;
    letter-spacing: -.12vw;
    position: relative;
    right: 0;
    width: 85%;
    text-align: right;
    font-size: 2.1vw ;
   
}

#motive span{
    display: inline-block;
    margin: 0 13px;
    border-radius: 100px;
    margin-bottom: -12.5px;
}

#onespan{
    width: 80px;
    height: 50px;
    background-image: url(./drive-download-20231102T091332Z-001/bluegirl.jpg);
    background-size: cover;
    background-position: 0% 60%;
}

#twospan{
    width: 120px;
    height: 50px;
    background-image: url(./drive-download-20231102T091332Z-001/shaljam.jpg);
    background-size: cover;
    background-position: 0% 50%;
}

#threespan{
    width: 80px;
    height: 50px;
    background-image: url(./drive-download-20231102T091332Z-001/grass.jpg);
    background-size: cover;
    background-position: 0% 50%;
}

#picture{
    margin-top: 8vw;
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
    display: flex;
    justify-content: space-between;
}

#firstpic{
    width: 17vw;
}

#firstpic #picimg{
    width: 100%;
    height: 24vw;
    margin-bottom: 1vw;
}

#picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#firstpic h1, #secpic h1{
    letter-spacing: -.1vw;
    font-weight: 100;
    font-size: 2vw;
}

#firstpic p, #secpic p{
    opacity: .8;
    font-size: 1vw;
    letter-spacing: -.07vw;
    line-height: 1;
    margin-top: 10px;
}

#secpic{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 25vw;
}

#secpic #picimg{
    width: 100%;
    height: 37vw;
    margin-bottom: 1vw;
}

#secpic p{
    width: 50%;
    text-align: right;
}

#banner{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 8vw;

}

#bimg{
    width: 65%;
    height: 60vh;
    background-color: red
}

#bimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 70%;
    
}

#btext{
    width: 35%;
    padding: 0 3vw;
}

#btext h1{
    font-size: 2.8vw;
    font-weight: 400;
    letter-spacing: -.15vw;
    line-height: 1;
}

#btext p{
    margin-top: 20px;
    width: 60%;
    font-size: 1vw;
}

#future{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100vh;

}

#future video{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    
}

#ftext{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 9999;
}
 

#ftext button{
    padding: .8vw 1.7vw;
    font-size: .6vw;
    text-transform: capitalize;
    margin-top: 10px ;
    font-weight: 700;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    color: #6f6f6f;

}